In [3]:
import pandas as pd

In [10]:
df=pd.read_pickle('./data/data_preprocessed.pkl')
display(df,df.dtypes)

,a_key,b_key,boeking_eur,date_tech,is_blacklist,is_redlist,is_whitelist
0,A5418,B226746,-9286.00,2019-06-01,False,False,True
1,A16062,B226746,-3404.00,2019-06-01,False,False,True
2,A5095,B226746,-3000.00,2019-06-01,False,False,True
3,A29672,B226746,-1642.00,2019-06-01,False,False,True
4,A22891,B226746,-3048.00,2019-06-01,False,False,True
...,...,...,...,...,...,...,...
5651581,A4999,B217879,-68.54,2020-01-31,False,False,False
5651582,A7639,B217879,-697.59,2020-01-31,False,False,False
5651583,A35875,B217879,-423.98,2020-01-31,False,False,False
5651584,A4049,B217879,-63.39,2020-01-31,False,False,False
5651585,A44330,B240156,-22.00,2020-01-31,False,False,False

a_key                   string
b_key                   object
boeking_eur            float64
date_tech       datetime64[ns]
is_blacklist              bool
is_redlist                bool
is_whitelist              bool
dtype: object

In [11]:
df.describe(include='all')

,a_key,b_key,boeking_eur,date_tech,is_blacklist,is_redlist,is_whitelist
count,5651586,5651586,5.651586e+06,5651586,5651586,5651586,5651586
unique,63700,692576,NaN,185,2,2,2
top,A42290,B226746,NaN,2019-10-28 00:00:00,False,False,False
freq,84771,212526,NaN,88634,5602010,5650785,5392483
first,NaN,NaN,NaN,2019-06-01 00:00:00,NaN,NaN,NaN
last,NaN,NaN,NaN,2020-01-31 00:00:00,NaN,NaN,NaN
mean,NaN,NaN,5.176340e+01,NaN,NaN,NaN,NaN
std,NaN,NaN,1.728032e+05,NaN,NaN,NaN,NaN
min,NaN,NaN,-7.927727e+07,NaN,NaN,NaN,NaN
25%,NaN,NaN,-2.146200e+02,NaN,NaN,NaN,NaN
50%,NaN,NaN,-2.304000e+01,NaN,NaN,NaN,NaN
75%,NaN,NaN,8.900000e+01,NaN,NaN,NaN,NaN
max,NaN,NaN,9.090909e+07,NaN,NaN,NaN,NaN

In [13]:
import networkx as nx
import matplotlib.pyplot as plt

In [ ]:
G = nx.Graph()
G.add_edge(1,2)
G.add_edge(1,3)
nx.draw(G, with_labels=True)
plt.show()